@using InvoiceGenerator.Dto;
  @using InvoiceGenerator.Dto;
@model ServiceRenderDto;
@{
    ViewData["Title"] = "Update Service";
    var Id = Context.GetRouteValue(" Id");
}

<div class="col-md-8">
    <form asp-controller="Service" asp-action="UpdateService">
        <div class="mb-3">
            <label class="form-label">Service Name</label>
            <input type="text" class="form-control" name="Name" placeholder="Name" required value="@Model.Name">
        </div>
      
        <div class="row">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </form>
</div>

